<div class="page-wrapper-row">
  <div class="page-wrapper-top">
    <div class="page-header">
      <div class="page-header-top">
        <div class="container">
          <div class="page-logo">
            <a href="index.html">
              <%= image_tag('logo-default.jpg', class:'logo-default') %>
            </a>
          </div>
          <a href="javascript:;" class="menu-toggler"></a>
        </div>
      </div>
      <div class="page-header-menu">
        <div class="container">
          <div class="hor-menu">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to 'Home', root_path %>
              </li>
              <li>
                <%= link_to 'About', about_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>